# Exclude localized system sandbox credentials
.env

# Exclude python build garbage and compilation cache assets
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Exclude local terraform environment caches and binary plugins
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
